<div class="row">
  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="{{countProject}}" number="Projects" type="info">
      <i class="ion-ios-folder-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="{{countTask}}" number="Tasks" type="success">
      <i class="ion-ios-compose-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="{{countMember}}" number="Members" type="warning">
      <i class="ion-ios-people-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="{{countEntry}}" number="Entries" type="danger">
      <i class="ion-ios-calculator-outline"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxs12 col-md-12 col-lg-8">
    <nb-card class="solar-card">
      <nb-card-header>Finances</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-12 col-lg-4">
    <nb-card class="solar-card">
      <nb-card-header>Current Projects</nb-card-header>
      <nb-card-body>
        <ul>
          <li *ngFor="let project of projects; let i = index">
            <label>{{project.name}}</label>
            <ngb-progressbar showValue="true" type="success" [value]="value[0]" max="100"></ngb-progressbar>
            <hr>
          </li>
        </ul>
        <hr>

        <a href="#/pages/projects/smart-table"><button class="btn btn-sm btn-success btn-more">More Projects</button></a>
      </nb-card-body>
    </nb-card>
  </div>
</div>



<div class="row">
  <div class="col-xxs12 col-md-12 col-lg-4">
    <nb-card class="solar-card">
      <nb-card-header>Team Members</nb-card-header>
      <nb-card-body>
        <div class="contact" *ngFor="let user of users">
          <nb-user [name]="user.first_name" [title]="user.username" size="large"></nb-user>
          <i class="i-contact nb-email"></i>
        </div>
        <hr>
        <a href="#/pages/teams/members"><button class="btn btn-sm btn-success btn-more">More Members</button></a>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-12 col-lg-4">
    <nb-card class="solar-card">
      <nb-card-header>Current Tasks</nb-card-header>
      <nb-card-body>
        <ul>
          <li *ngFor="let task of tasks; let i = index">
            <label>{{task.name}} </label>
            <span class="badge badge-success rightColumn">{{task.status}}</span>
            <hr>
          </li>
        </ul>
        <hr>
        <a href="#/pages/tasks/all-tasks"><button class="btn btn-sm btn-success btn-more">More Tasks</button></a>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-12 col-lg-4">
      <nb-card class="solar-card">
        <nb-card-header>Current Entries</nb-card-header>
        <nb-card-body>
          <ul>
            <li *ngFor="let entry of entries; let i = index">
              <label>{{entry.title}} </label>
              <label class="rightColumn">{{entry.amount}}</label>
              <hr>
            </li>
          </ul>
          <hr>
          <a href="#/pages/finances/all-finances"><button class="btn btn-sm btn-success btn-more">More Entries</button></a>
        </nb-card-body>
      </nb-card>
    </div>
</div>