<div class="row">
  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="10" number="Projects" type="info">
      <i class="ion-ios-folder-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="38" number="Tasks" type="success">
      <i class="ion-ios-compose-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="3" number="Teams" type="warning">
      <i class="ion-ios-people-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6 col-lg-3">
    <ngx-status-card title="15" number="Events" type="danger">
      <i class="ion-ios-calendar-outline"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxs12 col-md-12 col-lg-8">
    <nb-card class="solar-card">
      <nb-card-header>Finances</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-12 col-lg-4">
    <nb-card class="solar-card">
      <nb-card-header>Current Tasks</nb-card-header>
      <nb-card-body>
          <label>Business Plan</label>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div> <hr>
            <label>CEO Review</label>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 72%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">72%</div>
            </div> <hr>
            <label>Design Logo</label>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
            </div> <hr>
            <label>Finish Program</label>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 32%;" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">32%</div>
            </div> <hr>
            <button class="btn btn-sm btn-success btn-more-tasks">More Tasks</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>



<div class="row">
  <div class="col-xxs12 col-md-12 col-lg-4">
    <nb-card class="solar-card">
      <nb-card-header>Recent Activity</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-12 col-lg-8">
    <nb-card class="solar-card">
      <nb-card-header>Projects</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-xxs12 col-md-12 col-lg-8">
    <nb-card class="solar-card">
      <nb-card-header>Invoices</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-12 col-lg-4">
    <nb-card class="solar-card">
      <nb-card-header>Next Events</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>