<div class="row">
  <div class="col-xxs12 col-md-12 col-lg-6">
      <nb-card size="medium">
        <nb-tabset>
          <nb-tab tabTitle="Angular">
              <img src="../../../assets/images/angular.png"/><br>
              <p><a target="_blank" href="https://angular.io/docs">Documentation. </a>Angular is a platform that makes it easy to build 
                applications with the web. Angular combines declarative
                 templates, dependency injection, end to end tooling, and 
                 integrated best practices to solve development challenges.
                  Angular empowers developers to build applications that live on the web,
                   mobile, or the desktop</p>
                   <p>The documentation assumes that you are already familiar with JavaScript,
                      and some of the tools from the latest standards such as classes and modules.
                       The code samples are written using TypeScript.
                        Most Angular code can be written with just the latest JavaScript,
                         using types for dependency injection, and using decorators for
                          metadata.</p>
          </nb-tab>
          <nb-tab tabTitle="Typescript">
              <img src="../../../assets/images/typescript.png"/><br>
              <p><a target="_blank" href="https://www.typescriptlang.org/docs/home.html">Documentation. </a>TypeScript starts from the same syntax and 
                semantics that millions of JavaScript developers
                 know today. Use existing JavaScript code, incorporate
                  popular JavaScript libraries, and call TypeScript code
                   from JavaScript.</p>
                  <p>TypeScript compiles to clean, simple JavaScript code which runs on any browser,
                     in Node.js, or in any JavaScript engine that supports ECMAScript 6 
                     (or newer).</p>
          </nb-tab>
          <nb-tab tabTitle="Nebular">
              <img src="../../../assets/images/nebular.png"/><br>
              <p><a target="_blank" href="https://akveo.github.io/nebular/#/docs/getting-started/what-is-nebular">Documentation. </a>Nebular's primary goal is to assemble together and connect the most awesome features and libraries creating an efficient 
                ecosystem to speed up and simpify the development.
                carefully crafted the most important components you need to bootstrap your development. Our UI Kit is framework-agnostic,
                 though you could mix it with a CSS-framework of your choice.
                 2 built-in themes + hundreds of variables to create your own. Multiple themes with hot reload out of the box.  </p>
            </nb-tab>
          <nb-tab tabTitle="Sass">
              <img src="../../../assets/images/sass.png"/><br>
            <p><a target="_blank" href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html">Documentation. </a>Sass is completely compatible with all versions of CSS. We take this compatibility seriously, so that you can seamlessly use any available CSS libraries.
                Sass boasts more features and abilities than any other CSS extension language out there. The Sass Core Team has worked endlessly to not only keep up, but stay ahead.
                Sass has been actively supported for over 10 years by its loving Core Team.
                Over and over again, the industry is choosing Sass as the premier CSS extension language.
                Sass is actively supported and developed by a consortium of several tech companies and hundreds of developers.
                There are an endless number of frameworks built with Sass. Compass, Bourbon, and Susy just to name a few.</p>
          </nb-tab>
        </nb-tabset>
      </nb-card>
  </div>
  <div class="col-xxs12 col-md-12 col-lg-6">
    <nb-card size="medium">
      <nb-tabset>
        <nb-tab tabTitle="PostgreSQL">
          <img src="../../../assets/images/postgresql.png"/><br>
          <p><a target="_blank" href="https://www.postgresql.org/docs/">Documentation. </a>PostgreSQL is a powerful, open source object-relational database system. It has more than 15 years of active development
            and a proven architecture that has earned it a strong reputation for reliability, data integrity, and correctness.
            It runs on all major operating systems, including Linux, UNIX (AIX, BSD, HP-UX, macOS, Solaris), and Windows.
            It is fully ACID compliant, has full support for foreign keys, joins, views, triggers, and stored procedures
            (in multiple languages). </p>

          <p>It includes most SQL:2008 data types, including INTEGER, NUMERIC, BOOLEAN, CHAR, VARCHAR, DATE, INTERVAL , and
            TIMESTAMP. It also supports storage of binary large objects, including pictures, sounds, or video. It has native
            programming interfaces for C/C++, Java, .Net, Perl, Python, Ruby, Tcl, ODBC, among others</p>
        </nb-tab>
        <nb-tab tabTitle="Sequelize">
            <img src="../../../assets/images/sequelize.png"/><br>
          <p><a target="_blank" href="http://docs.sequelizejs.com/">Documentation. </a>Sequelize.js is an ORM (Object/Relational Mapper) which provides easy access to MySQL, MariaDB, SQLite or PostgreSQL
            databases by mapping database entries to objects and vice versa. It has very powerful migrations mechanism that
            can transform existing database schema into a new version. It also provides database synchronization mechanisms
            that can create database structure by specifying the model structure.</p>
          <p>Although Sequelize.js is new library, it have been battle tested. Currently web sites like Shutterstock, Clevertech,
            Metamarkets and Innofluence have announced that they are using Sequelize.js as ORM of their website.</p>
        </nb-tab>
        <nb-tab tabTitle="Heroku">
            <img src="../../../assets/images/heroku.png"/><br>
          <p><a target="_blank" href="https://devcenter.heroku.com/categories/reference">Documentation. </a>Heroku is a container-based cloud Platform as a Service (PaaS).
             Developers use Heroku to deploy, manage, and scale modern apps.
              Our platform is elegant, flexible, and easy to use, offering developers 
              the simplest path to getting their apps to market.</p>

              <p>provides a SQL database-as-a-service that lets you focus on building your application
                 instead of messing around with database management.</p>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-xxs12 col-md-12 col-lg-12">
      <nb-card size="medium">
          <nb-tabset>
            <nb-tab tabTitle="Modules">
                <p></p>
            </nb-tab>
            <nb-tab tabTitle="Routes API">
                <p></p>
            </nb-tab>
            <nb-tab tabTitle="Compile">
                <p></p>
                </nb-tab>
            <nb-tab tabTitle="Customize">
              <p></p>
            </nb-tab>
          </nb-tabset>
        </nb-card>
  </div>

</div>