<div class="row">
    <div class="col-xxs12 col-md-12 col-lg-12">
        <nb-card class="solar-card">
            <nb-card-header>
                <i class="ion-ios-gear"> Settings</i>
            </nb-card-header>
            <nb-card-body>
                <form>
                    <div class="form-group row">
                        <label for="inputFirstName" class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                            <input name="first_name" [(ngModel)]="user.first_name" type="name" class="form-control" id="inputFirstName" placeholder="Enter your first name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastName" class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            <input name="last_name" [(ngModel)]="user.last_name" type="email" class="form-control" id="inputLastName" placeholder="Enter your last name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-9">
                            <input name="username" [(ngModel)]="user.username" type="first_name" class="form-control" id="inputUsername" placeholder="Enter your username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input name="email" [(ngModel)]="user.email" type="last_name" class="form-control" id="inputEmail" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input name="password" [(ngModel)]="user.password" type="textarea" class="form-control" id="inputPassword" placeholder="Enter your password"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputRole" class="col-sm-3 col-form-label">Role</label>
                        <div class="col-sm-9">
                            <input name="role" [(ngModel)]="user.role" type="text" class="form-control" id="address1" placeholder="Enter your role">
                        </div>
                    </div><hr>
                    <button type="button" class="btn btn-warning btn-update" (click)="updateUser()">Update</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>