<div class="row">
    <div class="col-xxs12 col-md-12 col-lg-12">
        <nb-card class="solar-card">
            <nb-card-header>
                <i class="ion-ios-gear"> Settings</i>
            </nb-card-header>
            <nb-card-body>
                <form>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-9">
                            <input type="name" class="form-control" id="inputName" placeholder="Enter your username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirsName" class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="first_name" class="form-control" id="first_name" placeholder="Enter your first name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastName" class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="last_name" class="form-control" id="last_name" placeholder="Enter your last name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAboutMe" class="col-sm-3 col-form-label">About Me</label>
                        <div class="col-sm-9">
                            <textarea type="textarea" class="form-control" id="about_me" placeholder="Enter some information about yourself"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddressLine1" class="col-sm-3 col-form-label">Address Line 1</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address1" placeholder="Enter your first line">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddressLine2" class="col-sm-3 col-form-label">Address Line 2</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="address2" placeholder="Enter your second line">
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>