@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/buttons';

@include nb-install-component() {
    .btn-add {
        float: right;
    }
    .form-control[type=color] {
        height: auto;
    }

    
    
    /* Need styles for -webkit- and -moz- */
    
    .form-control[type=color]::-webkit-color-swatch-wrapper {
      padding: 0;
      margin: 0;
    }
    .form-control[type=color]:-moz-color-swatch-wrapper {
      padding: 0;
      margin: 0;
    }
    .form-control[type=color]:-ms-color-swatch-wrapper {
      padding: 0;
      margin: 0;
    }
    
    .form-control[type=color][list="colors"]::-webkit-color-swatch-wrapper {
      padding: .5rem .75rem;
    }
    .form-control[type=color][list="colors"]:-moz-color-swatch-wrapper {
      padding: .5rem .75rem;
    }
    .form-control[type=color][list="colors"]:-ms-color-swatch-wrapper {
      padding: .5rem .75rem;
    }
    
    .form-control[type=color]::-webkit-color-swatch {
      height: 22px; /* font-size + line-height */
      padding: 0;
      margin: 0;
    }
    .form-control[type=color]::-moz-color-swatch {
      height: 22px; /* font-size + line-height */
      padding: 0;
      margin: 0;
    }
    .form-control[type=color]:-ms-color-swatch {
      height: 22px; /* font-size + line-height */
      padding: 0;
      margin: 0;
    }
    
    
    
    
}