<nb-card>
  <nb-card-header>
    <i class="ion-ios-compose-outline"></i> Team Members
    <button class="btn btn-hero-success btn-add" data-toggle="modal" data-target="#exampleModal">New Team Member</button>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" 
    [source]="source" 
    (edit)="editProject()"
    (delete)="deleteProject($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Team Member</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                  <label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
                  <div class="col-sm-9">
                    <input name="username" [(ngModel)]="teammember_register.username" type="name" class="form-control" id="inputName" placeholder="Enter the name of the task">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputProject" class="col-sm-3 col-form-label">Project Name</label>
                    <div class="col-sm-9">
                      <input name="project_name" [(ngModel)]="teammember_register.project_name" type="name" class="form-control" id="inputName" placeholder="Enter the name of the task">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputRole" class="col-sm-3 col-form-label">Role</label>
                      <div class="col-sm-9">
                        <input name="role" [(ngModel)]="teammember_register.role" type="name" class="form-control" id="inputName" placeholder="Enter the name of the task">
                      </div>
                    </div>
                

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="insert()" data-dismiss="modal">Save Team Member</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

