<div class="row">
  <div class="col-xxs12 col-md-8">
    <nb-card class="solar-card">
      <nb-card-header>Sudoku Project</nb-card-header>
      <nb-card-body>
        <p>Sudoku is a WordPress theme in development. Needs new plugins designed and responsive web design completed.</p>
        <hr>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-4">
    <nb-card class="solar-card">
      <nb-card-header>Team</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxs12 col-md-8">
    <nb-card class="solar-card">
      <nb-card-header>Project Tasks</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-4">
    <nb-card class="solar-card">
      <nb-card-header>Recent Files</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxs12 col-md-8">
    <nb-card class="solar-card">
      <nb-card-header>Project Chat</nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxs12 col-md-4">
    <nb-card class="solar-card">
      <nb-card-header>Recent Activity</nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
</div>