@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/buttons';

@include nb-install-component() {
    .btn-add {
        float: right;
    }
    img {
        width:31px;
        height:29px;
        border-radius: 50%;
      }
}